<nav class="bg-white">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div
        class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
      >
        <div class="flex shrink-0 items-center pr-16">
          <!-- <img class="h-8 w-auto" src="" alt="Logo"> -->
          <a routerLink="/" class="relative">
            <span
              class="absolute top-[-14px] left-[-40px] bg-blue-500 text-white font-bold px-2 text-sm"
              >Twenties</span
            >
            <span class="font-bold">Tribe</span></a
          >
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a
              routerLink="/mentors"
              class="border-b border-purple-200 px-3 py-2 text-sm font-medium text-black cursor-pointer"
              aria-current="page"
              routerLinkActive="active"
              >Mentors</a
            >
            <a
              routerLink="/masterclass"
              routerLinkActive="active"
              class="px-3 py-2 text-sm font-medium text-black hover:border-b hover:text-gray-500 cursor-pointer"
              >Masterclass</a
            >
            <a
              routerLinkActive="active"
              class="px-3 py-2 text-sm font-medium text-black hover:border-b hover:text-gray-500 cursor-pointer"
              >Offers</a
            >
            <a
              href="#"
              class="px-3 py-2 text-sm font-medium text-black hover:border-b hover:text-gray-500 cursor-pointer"
              >Events</a
            >
            <a
              href="#"
              class="px-3 py-2 text-sm font-medium text-black hover:border-b hover:text-gray-500 cursor-pointer"
              >Blogs</a
            >
            <a
              href="#"
              class="px-3 py-2 text-sm font-medium text-black hover:border-b hover:text-gray-500"
              >Store</a
            >
          </div>
        </div>
      </div>
      <div
        class="absolute inset-y-0 right-0 flex items-center gap-4 pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
      >
        <button
          type="button"
          class="relative bg-white border-purple-200 border-2 rounded-md px-4 py-1 text-black hover:text-purple-600 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
        >
          Login
        </button>
        <button
          type="button"
          class="relative rounded-lg bg-purple-600 px-6 py-2 text-white hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
        >
          Join the Tribe
        </button>
      </div>
    </div>
  </div>
  <hr class="border-t border-gray-100" />
  <div
    class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 bg-white border-b border-white border-2"
  >
    <div class="relative flex h-16 items-center justify-between">
      <div
        class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
      >
        <div class="flex shrink-0 items-center">
          <a
            href="#"
            class="px-1 py-1 text-sm font-medium text-black"
            aria-current="page"
            >Find Sessions</a
          >
        </div>
        <div class="sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a
              href="#"
              class="px-3 py-1 text-sm font-medium text-black"
              aria-current="page"
              >Find Sessions</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pb-3 pt-2">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a
        href="#"
        class="block rounded-md bg-white px-3 py-2 text-base font-medium text-white"
        aria-current="page"
        >Mentors</a
      >
      <a
        href="#"
        class="block rounded-md px-3 py-2 text-base font-medium text-gray-700 hover:bg-purple-700 hover:text-white"
        >Masterclass</a
      >
      <a
        href="#"
        class="block rounded-md px-3 py-2 text-base font-medium text-gray-700 hover:bg-purple-700 hover:text-white"
        >Offer</a
      >
      <a
        href="#"
        class="block rounded-md px-3 py-2 text-base font-medium text-gray-700 hover:bg-purple-700 hover:text-white"
        >Events</a
      >
      <a
        href="#"
        class="block rounded-md px-3 py-2 text-base font-medium text-gray-700 hover:bg-purple-700 hover:text-white"
        >Blogs</a
      >
      <a
        href="#"
        class="block rounded-md px-3 py-2 text-base font-medium text-gray-700 hover:bg-purple-700 hover:text-white"
        >Store</a
      >
    </div>
  </div>
</nav>
